@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Suez+One');
@import url('https://fonts.googleapis.com/css?family=PT+Serif+Caption:400');

@import url('https://fonts.googleapis.com/css?family=Yantramanav:900');
@import url('https://fonts.googleapis.com/css?family=Vollkorn');
@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('https://fonts.googleapis.com/css?family=Bellefair');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

@charset "utf-8";
@font-face {
     font-family: monaco;
     src: url('/assets/fonts/monaco.ttf');
}

// Define defaults for each variable.
$footer-font-family: 'Open Sans', serif; //menu font
$site-nav-font-family: 'Yantramanav', sans-serif; //menu font
$author-font-family: 'Yantramanav', sans-serif; //author font
$header-font-family: 'Vollkorn', serif;//'PT Serif Caption', serif !default; //hearder in the post
$base-font-family: 'Lato', sans-serif !default;//'PT Sans', sans-serif !default;//'Vollkorn', serif !default;  //corpo do post
//$base-font-family: 'Open Sans', serif !default;  //corpo do post
$post-font-family: 'Bellefair', serif;
$post-date-font-family: 'Vollkorn', serif; //título do post

$site-title-font-family: 'Monaco';
$code-font-family: 'Monaco';
$base-font-size:   17px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;
$code-font-size:   $base-font-size * 0.875 !default;

$spacing-unit:     30px !default;

$text-color:       #000000 !default;
$background-color: #ffffff !default;
$brand-color:      #C22222 !default;  //#2a7ae2

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$footer-color: lighten($grey-color, 46%); //#efefef   #DCDCDC
$header-color: lighten($grey-color, 46%) !default;

// Width of the content area
$content-width:    1000px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
